*{
  font-family: sans-serif;
}
.hod{
  display: flex;
  column-gap: 10px;
  margin-bottom: 10px;
  height: 200px;
  margin-bottom: 30px;
  border: solid 1px lightgray;
}

.hod-image{
  flex: 30%;
  margin-right: -200px;
  
}
.hod-image img{
  height: 200px;
  border-radius: 100px;
 
}

.hod-text{
  flex: 70%;
  padding: 20px;
  margin-left: -70px;
}

.row{
  display: flex;
  column-gap: 10px;
  margin-bottom: 10px;

}

.column{
  display: flex;
  flex-direction: column;
  flex:33%;
  row-gap: 10px;
  height: 600px;
  border: solid 1px lightgray;
}

.column-image{
  flex: 1;
  
  margin-bottom: 10px;
}
.column-image img{
  height: 250px;
  padding: 30px;
  margin-left: 40px;
  border-radius: 150px;
}

.column-image img:hover{
  scale: 1.2;
}
.column-text{
  flex: 1;
  margin-top: 0;
  text-align: center;
}


.column-text h2:hover{
 cursor: pointer;
 color: gold;
}