body{
  margin-left: 160px;
  margin-right: 100px;
}
img{
  width: 100%;
}
*{
  font-family: sans-serif;
}
.container{
  display: flex;
  column-gap: 30px;
  height: 300px;
  text-align: center;
  margin-top: 20px;
}

.eligibility{
  border-bottom: solid 2px gray;
  margin-bottom: 30px;
}

.content{
  margin-bottom: 20px;
  margin-top: 30px;
}
.left{
  flex: 40%;
  padding: 40px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.left a {
  color: royalblue;
  text-decoration: none;
}

.left a:hover{
  color: black;
}

.left, .right h2{
  cursor: pointer;
}

.left h2:hover{
  color: royalblue;
}


.right h2:hover{
  color: royalblue;
}




.right{
  flex: 40%;
  padding: 40px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.right a {
  color: royalblue;
  text-decoration: none;
}

.right a:hover{
  color: black;
}

.phd{
  border-top: solid 5px gray;
  margin-top: 30px;
}