*{
  font-family: sans-serif;
}
.top {
  height: 400px;
  width: 100%;
  background-image: url(balme.png);
  text-align: center;
  color: rgb(252, 210, 0);
  filter: grayscale(50%);
  margin-top: 0;
  display: flex;
      flex-direction: column; 
      justify-content: center; 
      align-items: center;
      font-size: 40px;
}

.row{
  display: flex;
  column-gap: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.column{
  flex: 33%;
  background: rgb(223, 219, 219);
  height: 300px;
  border-radius: 12px;
  background: #e0e0e0;
  box-shadow:  8px 8px 16px #bababa,
               -8px -8px 16px #ffffff;
}
